$bg-color : #2b2b2f;
$principal-color :#1fc586;//effect + compte-info:beffor + icons
$heading-color:#fff; //h1
$heading-color-2:#eee; //h2,input,h3,p,placeholder
$dropdown-menu-color : #121212;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
