-var pageTitle = 'Home Page';
<!DOCTYPE html>
html(lang="en")
  head
    include ./pug/layout/meta.pug
    include ./pug/layout/style.pug
  body
    .container
      .effect-3
      .effect-4
      .heading.div-register
        h1
          | You Are not allocated to see this content Please
          a(href='./index.html').link 
            | Login
    include ./pug/layout/scripts.pug